* {
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
  font-family: 'muli';
}

h1, h2, h3 {
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
  color: black;
  font-family: 'muli';
}

a {
  text-decoration: none;
}

/* =========================== CABEÇALHO =========================== */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.campo-busca input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  padding-left: 5px;
  outline: none;
}

.campo-busca button {
  position: absolute;
  top: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.cabecalho figure img {
  padding-right: 10px;
}

.cabecalho h1 a{
  text-decoration: none;
  color: rgb(27, 27, 27);
  text-transform: uppercase;
  font-size: 36px;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

/* =================== BARRA DE NAVEGAÇÃO ==================== */
label[for="bt-menu"]{
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  height: 40px;
  display: none;
  position: absolute;
  top: 8px;
}

#bt-menu {
  display: none;
}

.navbar {
  margin: 0 200px;
  background-color: #ffffff;
  letter-spacing: 2.25px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar a, .dropbtn {
  display: inline-block;
  color: rgb(27, 27, 27);
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  transition: all .3s ease;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
  font-size: 14px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  background-color: #ffffff;
  display: none;
  justify-content: center;
  padding: 30px;
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 160px;
  z-index: 1;
}

.opcoes-menu{
  margin: 10px 80px 0 ;
}

.img-menu {
  margin: 15px 70px 0;
}

.img-menu img {
  width: 350px;
}

.dropdown-content a {
  color: rgb(27, 27, 27);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #636363;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* ==================== LOGIN/ CADASTRO ==================== */
.modal-login-cadastro {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 102;
}

.modal-login, 
.modal-cadastro{
  width: 420px;
  background: #ffffff;
  padding: 0 10px 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.modal-login form,
.modal-cadastro form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.modal-login strong,
.modal-cadastro strong {
  color: #272727;
  font-size: 32px;
  margin: 2px 7px 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.modal-login input,
.modal-cadastro input {
  width: 90%;
  height: 45px;
  margin: 6px 0px;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-family: 'muli';
  border-radius: 7px;
}

.modal-login i,
.modal-cadastro i {
  position: relative;
  left: 180px;
  color: #2b2b2b;
}

.modal-login i:hover,
.modal-cadastro i:hover {
  color: #6b6b6b;
}

.modal-login button,
.modal-cadastro button {
  background-color: #252525;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-top: 0px;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 15px;
  width: 90%;
  font-family: 'muli';
  cursor: pointer;
}

.modal-login form a {
  text-decoration: none;
  font-size: 14px;
  margin: 5px;
  position: relative;
  left: 110px;
}

.modal-login a,
.modal-cadastro a {
  margin: 20px 0 10px;
  color: #4b4b4b;
  font-size: 14px;
}

.modal-login form a:hover, .modal-login a:hover {
  color: #000000;
}

.modal-login-cadastro,
.modal-login,
.modal-cadastro {
  display: none;
}

.login-active,
.login-active .modal-login{
  display: flex;
}

.cadastro-active,
.cadastro-active .modal-cadastro{
  display: flex;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/* ======================== HERO ======================= */
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-btn {
  position: relative;
  left: 78%;
  transform: translateY(-1100%);
}

.slide-btn button {
  background: #ffffff;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 3px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

/* ================= SLIDER MAIS VENDIDOS ================ */
.subtitulo-mais-vendidos {
  text-align: center;
  font-size: 28px;
  padding: 0;
  position: relative;
  top: 50px;
}

.box {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
}

.slide-img {
  height: 450px;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.type a{
  text-decoration: none;
  color: #222222;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

.type :last-child {
  color: rgba(26, 26, 26, 0.6);
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 7px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
  color: #ffffff;
  background-color: #252525;
  transition: all ease 0.3s;
}

.overlay {
  visibility: hidden;
}

.slide-img:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightSlider .active {
  border: 0;
} 

/* ======================== BANNER ======================= */
.banner h2 {
  color: #0a0a0a;
  width: fit-content;
  margin: 0 auto;
  font-size: 48px;
}

.banner-img {
  width: 450px;
  position: relative;
  left: 20%;
  transform: translateY(-75%);
}

/* ====================== MENU ATENDIMENTO ====================== */
.active {
  border: 1px solid rgb(27, 27, 27);
  padding: 5px;
}

.menu-atendimento {
  line-height: 2;
  margin: 100px 0 0px 100px;
}

.menu-atendimento a{
  color: rgb(27, 27, 27);
  text-decoration: none;
  text-transform: uppercase;
}

/* =================== FORMULÁRIO FALE CONOSCO =================== */
.contato {
  display: flex;
}

.formulario-contato {
  margin: 60px;
  padding-left: 75px;
  
}

.formulario-contato strong {
  font-size: 34px;
  font-weight: 500;
  color: #272727;
}

.formulario-contato form p {
  padding: 12px 0;
}

.formulario-contato input, .formulario-contato select, 
.formulario-contato textarea {
  width: 500px;
  outline: none;
  font-family: 'muli';
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.formulario-contato input, .formulario-contato select {
  height: 45px;
}

.formulario-contato button {
  padding: 15px 35px;
  color: white;
  background-color: #252525;
  border: none;
  border-radius: 3px;
  font-family: 'muli';
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

/* =========================== NEWSLETTER =========================== */
.newslettersection .newsletter {
  width: fit-content;
  margin: 25px auto;
  font-size: 28px;
  position: relative;
}

.newslettersection .newsletter::before {
  right: 105%;
}

.newslettersection .newsletter::after {
  left: 105%;
}

.newslettersection .newsletter::before, .newslettersection .newsletter::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 1000%;
  top: 60%;
  background: rgba(0, 0, 0, 0.6);
}

.newsletterssection h2 {
  text-align: center;
  color: #272727;
  font-weight: 500;
}

.newslettersection p, .newslettersection form {
  text-align: center;
  margin: 15px;
}

.newslettersection form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  margin: 0;
}

.newslettersection input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  width: 290px;
  padding: 10px 0 10px 3px;
  outline: none;
}

.newslettersection button {
  padding: 12px;
  cursor: pointer;
  font-family: 'muli';
  text-transform: uppercase;
  background-color: #252525;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none;
}

.newslettersection button:hover {
  color: white;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

/* ====================== RODAPÉ ====================== */
.rodape {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 2px;
}

.rodape ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2;
}

.rodape h3 {
  margin-bottom: 5px;
}

.rodape li a {
  color: rgb(27, 27, 27);
  text-decoration: none;
}

.rodape figure img{
  padding: 5px 5px 0 0;
} 

/* ==================== RESPONSIVE ====================*/
@media screen and (max-width: 1024px) {
  .cabecalho input {
    display: none;
  }

  .cabecalho button img{
    display: none;
  }

  .cabecalho {
    position: relative;
  }

  .cabecalho figure img {
    width: 25px;
    padding: 0;
  }

  .cabecalho h1 a{
    font-size: 24px;
  }

  .rodape {
    display: block;
  }

  label[for="bt-menu"]{
      display: block;
  }

  #bt-menu:checked ~ .navbar {
      margin-left: 0;
  }
}