* {
    font-family: 'muli';
}

body {
    overflow-x: hidden;
}

.carregando{
    display: none;
}

.flex {
    display: flex;
    width: 100%;
}

.header {
    width: 20%;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 40vh;
    height: 100%;
    background: #D9B28F;
}

.menu .logo {
    height: 20%;
}

.menu .sair {
    height: 20%;
    bottom: 0;
}

.menu .logo h1 a{
    color: #ffffff;
    text-align: center;
    margin: 2rem;
    text-decoration: none;
}

.menu a {
    color: #ffffff;
    display: block;
    text-align: left;
    margin-left: 1.5rem;
    padding: 1rem 0;
}

.menu-btns a:hover {
    text-align: center;
    background-color: rgb(235, 209, 173);
    color: rgb(198, 139, 86);
    margin-left: 0;
    transition: 1s;
}

.menu-btns i {
    padding-right: 0.5rem;
}

.conteudo {
    width: 70%;
    margin: auto;
}

img {
    max-width: 100px;
    object-fit: cover;
}

.detail-box a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(198, 139, 86);
}

.table thead tr th{
    color: rgb(121, 121, 121);
}

.toast {
    position: absolute;
    z-index: 999;
    left: 10px;
    bottom: 10px;
}

.bi-arrow-left, .bi-arrow-right {
    font-size: 20px;
}